.colorIcon{
}
.session1{
    background-color: 
    #EDEDED;
     border-radius: 87px;
}
.fontbold{
    font-weight: 700;
}

@media (min-width: 100px) and (max-width: 399px) {
 
    .traning-secction-1-img{
       height: 350px;
   }
}
@media (min-width: 400px) and (max-width: 500px) {
     .leftsmall{
         left:  8rem  !important;
     }
     .traning-secction-1-img{
        height: 550px;
    }
}
@media (min-width: 501px) and (max-width: 640px) {
    .leftsmall{
        left:  12rem  !important;
    }
    .traning-secction-1-img{
        height: 550px;
    }
    .traning-secction-1{
        height: 1220px;
    }
}

@media (min-width: 641px) and (max-width: 767px) {
    .leftsmall{
        left:  15rem  !important;
    }
    .imgboxing{
        width: 40%;
    
      } .traning-secction-1{
        height: 1220px !important;
    }
    .traning-secction-1-img{
        height: 350px;
    }
    .ul-traning{
        margin-top: 200px;
    }
}
@media (min-width: 767px) and (max-width: 999px) {
    .traning-secction-1{
        height: 980px !important;
    }
    .traning-secction-1-img{
        height: 450px;
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    .firstabout{
        padding-left:10px ;
        padding-right:10px ;
    }
    .textfirstabout{
        width: 60%;
    }
    .sectioninspection{
        height: 965px;
  
  }
  .imgboxing{
    width: 30%;

  }
  .traning-secction-1-img{
    height: 550px;
}
  }
@media (min-width: 1301px) and (max-width: 1500px) {
    .imginspection{
        height: 817px !important;
    }
    .sectioninspection{
        height: 989px;
  
  }
  .traning-secction-1-img{
    height: 550px;
}
}
@media (min-width: 1501px) and (max-width: 2000px) {
    .imginspection{
        height: 817px !important;
    }
    .img-traning{
        height: 817px !important;
    }
    .sectioninspection{
        height: 965px;
  
  }
  .traning-secction-1-img{
    height: 550px;
}
}
.color-blue-1000{
color: #082B39 !important;
}

.border-4xl{
    border-radius: 40px;
}
.traning-secction-1{
    height: 1636px;
}
